In [29]:
import pandas as pd
root = "https://raw.githubusercontent.com/"
repo = "CSSEGISandData/COVID-19"
folder = "/master/csse_covid_19_data/csse_covid_19_time_series/"
datavs1=(root+repo+folder)
#https://github.com/CSSEGISandData/COVID-19

In [30]:
recovered_global=datavs1+"time_series_covid19_recovered_global.csv"
confirmed_global=datavs1+"time_series_covid19_confirmed_global.csv"
deaths_global=datavs1+"time_series_covid19_deaths_global.csv"

In [25]:
pd.read_csv(recovered_global)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,11/25/20,11/26/20,11/27/20,11/28/20,11/29/20,11/30/20,12/1/20,12/2/20,12/3/20,12/4/20
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,36145,36232,36295,36709,36716,36831,36946,37218,37260,37260
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,17031,17352,17755,18152,18481,18849,19384,19912,20484,20974
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,50712,51334,51946,52568,53204,53809,54405,54990,55538,56079
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,5542,5649,5710,5710,5794,5873,5940,5988,6066,6130
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,7517,7617,7697,7763,7763,7851,7932,8139,8244,8299
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,60499,61241,61960,62944,63834,64987,65938,66989,68250,70206
252,NaN,Western Sahara,24.215500,-12.885800,0,0,0,0,0,0,...,8,8,8,8,8,8,8,8,8,8
253,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,1474,1484,1491,1498,1504,1510,1514,1518,1525,1534
254,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,16755,16779,16845,16925,16983,16998,17059,17086,17102,17145
255,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,8336,8397,8470,8472,8472,8482,8643,8643,8754,8802

In [26]:
pd.read_csv(confirmed_global)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,11/25/20,11/26/20,11/27/20,11/28/20,11/29/20,11/30/20,12/1/20,12/2/20,12/3/20,12/4/20
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,45384,45600,45723,45844,46116,46274,46516,46718,46837,46837
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,34944,35600,36245,36790,37625,38182,39014,39719,40501,41302
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,78025,79110,80168,81212,82221,83199,84152,85084,85927,86730
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,6428,6534,6610,6610,6712,6745,6790,6842,6904,6955
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,14821,14920,15008,15087,15103,15139,15251,15319,15361,15493
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,76727,78493,80429,81890,83585,85647,88004,90192,92708,94676
267,NaN,Western Sahara,24.215500,-12.885800,0,0,0,0,0,0,...,10,10,10,10,10,10,10,10,10,10
268,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,2124,2137,2148,2160,2177,2191,2197,2217,2239,2267
269,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,17535,17553,17569,17589,17608,17647,17665,17700,17730,17857
270,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,9508,9623,9714,9822,9822,9950,10129,10129,10424,10547

In [33]:
df=pd.read_csv(deaths_global)

ValueError: Wrong number of items passed 322, placement implies 1